In [ ]:
#|default_exp forecast

In [ ]:
#|hide
%load_ext autoreload
%autoreload 2

# Forecast

> Full pipeline encapsulation

In [ ]:
#|export
from typing import Callable, Dict, List, Optional, Tuple, Union

import pandas as pd
from sklearn.base import RegressorMixin

from mlforecast.core import TimeSeries
from mlforecast.utils import backtest_splits

In [ ]:
#|hide
import warnings

from nbdev import show_doc
from sklearn import set_config

In [ ]:
#|hide
set_config(display='text')
warnings.simplefilter('ignore', UserWarning)

In [ ]:
#|export
class Forecast:
    """Full pipeline encapsulation."""
    
    def __init__(
        self,
        models: Union[RegressorMixin, List[RegressorMixin]],  # model or list of models that follow the scikit-learn API
        freq: str,  # pandas offset alias, e.g. D, W, M
        lags: List[int] = [],  # list of lags to use as features
        lag_transforms: Dict[int, List[Tuple]] = {},  # list of transformations to apply to each lag
        date_features: List[str] = [],  # list of names of pandas date attributes to use as features, e.g. dayofweek
        num_threads: int = 1,  # number of threads to use when computing lag features
    ):
        if not isinstance(models, list):
            models = [models]
        self.models = models
        self.ts = TimeSeries(freq, lags, lag_transforms, date_features, num_threads)
        
    def __repr__(self):
        return (
            f'Forecast(models=[{", ".join(m.__class__.__name__ for m in self.models)}], '
            f'freq={self.freq}, '
            f'lag_features={list(self.ts.transforms.keys())}, '
            f'date_features={self.ts.date_features}, '
            f'num_threads={self.ts.num_threads})'
        )
    
    @property
    def freq(self):
        return self.ts.freq

    def preprocess(
        self,
        data: pd.DataFrame,
        static_features: Optional[List[str]] = None,
        dropna: bool = True,
        keep_last_n: Optional[int] = None,
    ) -> pd.DataFrame:
        return self.ts.fit_transform(data, static_features, dropna, keep_last_n)

    def fit(
        self,
        data: pd.DataFrame,
        static_features: Optional[List[str]] = None,
        dropna: bool = True,
        keep_last_n: Optional[int] = None,
    ) -> 'Forecast':
        """Preprocesses `data` and fits `models` using it."""
        series_df = self.preprocess(data, static_features, dropna, keep_last_n)
        X, y = series_df.drop(columns=['ds', 'y']), series_df.y.values
        del series_df
        for model in self.models:
            model.fit(X, y)
        return self

    def predict(
        self,
        horizon: int,
        dynamic_dfs: Optional[List[pd.DataFrame]] = None,        
        predict_fn: Optional[Callable] = None,
        **predict_fn_kwargs,
    ) -> pd.DataFrame:
        """Compute the predictions for the next `horizon` steps.
        
        `predict_fn(model, new_x, dynamic_dfs, features_order, **predict_fn_kwargs)` is called in every timestep, where:
        `model` is the trained model.
        `new_x` is a dataframe with the same format as the input plus the computed features.
        `dynamic_dfs` is a list containing the dynamic dataframes.
        `features_order` is the list of column names that were used in the training step.
        """
        return self.ts.predict(
            self.models, horizon, dynamic_dfs, predict_fn, **predict_fn_kwargs
        )

    def cross_validation(
        self,
        data,
        n_windows: int,
        window_size: int,
        static_features: Optional[List[str]] = None,
        dropna: bool = True,
        keep_last_n: Optional[int] = None,
        dynamic_dfs: Optional[List[pd.DataFrame]] = None,
        predict_fn: Optional[Callable] = None,
        **predict_fn_kwargs,
    ):
        """Creates `n_windows` splits of `window_size` from `data`, trains the model
        on the training set, predicts the window and merges the actuals and the predictions
        in a dataframe.

        Returns a dataframe containing the datestamps, actual values, train ends and predictions."""
        results = []
        for train_end, train, valid in backtest_splits(data, n_windows, window_size, self.freq):
            self.fit(train, static_features, dropna, keep_last_n)
            y_pred = self.predict(
                window_size, dynamic_dfs, predict_fn, **predict_fn_kwargs
            )
            result = valid[['ds', 'y']].copy()
            result['cutoff'] = train_end
            result = result.merge(y_pred, on=['unique_id', 'ds'], how='left')
            results.append(result)

        from mlforecast.compat import dd_concat
        concat_fn = pd.concat if isinstance(data, pd.DataFrame) else dd_concat
        return concat_fn(results)

The `Forecast` class is a high level abstraction that encapsulates all the steps in the pipeline (preprocessing, fitting the model and computing the predictions). It tries to mimic the scikit-learn API.

## Example
This shows an example with simulated data, for a real world example you can check the [M5 example](https://www.kaggle.com/lemuz90/m5-mlforecast).

In [ ]:
import lightgbm as lgb
import matplotlib.pyplot as plt
import numpy as np
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from window_ops.expanding import expanding_mean
from window_ops.rolling import rolling_mean

from mlforecast.utils import generate_daily_series, generate_prices_for_series

In order to forecast some time series you need a dataframe with `unique_id` as the index (which contains the identifier for each time serie), a `ds` column with the datestamps and a `y` column with the series values.

### Data setup

In [ ]:
series = generate_daily_series(100, equal_ends=True, n_static_features=2, static_as_categorical=False)
series

                  ds           y  static_0  static_1
unique_id
id_00     2000-10-05   39.811983        79        45
id_00     2000-10-06  103.274013        79        45
id_00     2000-10-07  176.574744        79        45
id_00     2000-10-08  258.987900        79        45
id_00     2000-10-09  344.940404        79        45
...              ...         ...       ...       ...
id_99     2001-05-10  453.400509        69        35
id_99     2001-05-11   30.229478        69        35
id_99     2001-05-12  101.313713        69        35
id_99     2001-05-13  145.724335        69        35
id_99     2001-05-14  228.163571        69        35

[27003 rows x 4 columns]

Whatever extra columns you have, like `static_0` and `static_1` here are considered to be static and are replicated when constructing the features for the next datestamp. You can disable this by passing `static_features` to `Forecast.preprocess` or `Forecast.fit` , which will only keep the columns you define there as static. Keep in mind that they will still be used for training, so you'll have to provide them to `Forecast.predict` through the `dynamic_dfs` argument.

### Creating the Forecast object

The models can be any scikit-learn compatible regressors.

In [ ]:
models = [
    lgb.LGBMRegressor(n_jobs=1, random_state=0),
    xgb.XGBRegressor(n_jobs=1, random_state=0)
]

fcst = Forecast(
    models=models,
    freq='D',
    lags=[7],
    lag_transforms={
        1: [expanding_mean],
        7: [(rolling_mean, 14)]
    },
    date_features=['dayofweek', 'month'],
    num_threads=2,
)
fcst

Forecast(models=[LGBMRegressor, XGBRegressor], freq=<Day>, lag_features=['lag-7', 'expanding_mean_lag-1', 'rolling_mean_lag-7_window_size-14'], date_features=['dayofweek', 'month'], num_threads=2)

Here where we say that:

* Our series have daily frequency.
* We want to use lag 7 as a feature
* We want the lag transformations to be:
   * expanding mean of the lag 1
   * rolling mean of the lag 7 over a window of size 14
* We want to use dayofweek and month as date features.
* We want to perform the preprocessing and the forecasting steps using 2 threads.

From this point we have two options:

1. Preprocess the data and fit our models using all of it.
2. Preprocess the data and get it back as a dataframe to do some custom splitting or adding additional features, then training the model.

#### 1. Using all the data

In [ ]:
show_doc(Forecast.fit)

---

### Forecast.fit

>      Forecast.fit (data:pandas.core.frame.DataFrame,
>                    static_features:Optional[List[str]]=None, dropna:bool=True,
>                    keep_last_n:Optional[int]=None)

Preprocesses `data` and fits `models` using it.

Calling `.fit` on our data performs the preprocessing and uses all the data to train our model.

In [ ]:
fcst.fit(series)

Forecast(models=[LGBMRegressor, XGBRegressor], freq=<Day>, lag_features=['lag-7', 'expanding_mean_lag-1', 'rolling_mean_lag-7_window_size-14'], date_features=['dayofweek', 'month'], num_threads=2)

### Forecasting

In [ ]:
show_doc(Forecast.predict)

---

### Forecast.predict

>      Forecast.predict (horizon:int,
>                        dynamic_dfs:Optional[List[pandas.core.frame.DataFrame]]
>                        =None, predict_fn:Optional[Callable]=None,
>                        **predict_fn_kwargs)

Compute the predictions for the next `horizon` steps.

`predict_fn(model, new_x, dynamic_dfs, features_order, **predict_fn_kwargs)` is called in every timestep, where:
`model` is the trained model.
`new_x` is a dataframe with the same format as the input plus the computed features.
`dynamic_dfs` is a list containing the dynamic dataframes.
`features_order` is the list of column names that were used in the training step.

Once we have this fitted model, we can compute the forecasts for the next 7 timesteps.

In [ ]:
fcst.predict(7)

                  ds  LGBMRegressor  XGBRegressor
unique_id
id_00     2001-05-15     421.448182    435.328949
id_00     2001-05-16     499.656057    508.972076
id_00     2001-05-17      21.335532     18.983215
id_00     2001-05-18     102.884269     99.284401
id_00     2001-05-19     186.160181    180.996490
...              ...            ...           ...
id_99     2001-05-17     443.481967    435.208649
id_99     2001-05-18      19.476021     21.461609
id_99     2001-05-19      90.335796     92.986107
id_99     2001-05-20     152.202375    153.958008
id_99     2001-05-21     228.963404    229.339050

[700 rows x 3 columns]

This uses each prediction as the next value of the target and updates all features accordingly. The static features were propagated and the date features were computed using each new datestamp.

In [ ]:
#|hide
preds = fcst.predict(7)
preds2 = fcst.predict(7)

pd.testing.assert_frame_equal(preds, preds2)

#### 2. Preprocess and train

If we only want to perform the preprocessing step we call `.preprocess` on our data.

In [ ]:
show_doc(Forecast.preprocess)

---

### Forecast.preprocess

>      Forecast.preprocess (data:pandas.core.frame.DataFrame,
>                           static_features:Optional[List[str]]=None,
>                           dropna:bool=True, keep_last_n:Optional[int]=None)

In [ ]:
features_df = fcst.preprocess(series)
features_df.head()

,ds,y,static_0,static_1,lag-7,expanding_mean_lag-1,rolling_mean_lag-7_window_size-14,dayofweek,month
unique_id,,,,,,,,,
id_00,2000-10-25,497.668437,79,45,506.946385,250.013666,263.200596,2,10
id_00,2000-10-26,39.183469,79,45,38.877800,261.806750,263.133868,3,10
id_00,2000-10-27,94.377779,79,45,115.127739,251.687510,263.980563,4,10
id_00,2000-10-28,179.235741,79,45,180.384975,244.847957,264.252723,5,10
id_00,2000-10-29,267.546447,79,45,242.228588,242.114114,263.055629,6,10

This is useful if we want to inspect the data the model will be trained, adding additional features or performing some custom train-valid split. Here we perform a 80-20 split.

In [ ]:
np.random.seed(0)

train_mask = np.random.rand(features_df.shape[0]) < 0.8
train, valid = features_df[train_mask], features_df[~train_mask]
X_train, y_train = train.drop(columns=['ds', 'y']), train.y
X_valid, y_valid = valid.drop(columns=['ds', 'y']), valid.y

If we do this we must "manually" train our model calling `Forecast.model.fit`.

In [ ]:
fcst.models[0].fit(
    X_train, y_train, 
    eval_set=[(X_train, y_train), (X_valid, y_valid)],
    eval_names=['train', 'valid'],
    eval_metric='rmse',
    verbose=0
)

LGBMRegressor(n_jobs=1, random_state=0)

We can see the RMSE by iteration for each set.

In [ ]:
pd.DataFrame({
    k: np.round(fcst.models[0].evals_result_[k]['rmse'], 2)
    for k in ('train', 'valid')
})

     train   valid
0   134.08  133.97
1   120.80  120.71
2   108.85  108.78
3    98.10   98.05
4    88.44   88.41
..     ...     ...
95    9.24    9.94
96    9.23    9.94
97    9.22    9.94
98    9.22    9.94
99    9.22    9.94

[100 rows x 2 columns]

#### Dynamic features

By default the predict method repeats the static features and updates the transformations and the date features. If you have dynamic features like prices or a calendar with holidays you can pass them as a list to the `dynamic_dfs` argument of `Forecast.predict`, which will call `pd.DataFrame.merge` on each of them in order.

Here's an example:

Suppose that we have a `product_id` column and we have a catalog for prices based on that `product_id` and the date.

In [ ]:
dynamic_series = series.rename(columns={'static_1': 'product_id'})
prices_catalog = generate_prices_for_series(dynamic_series)
prices_catalog

              ds  product_id     price
0     2000-06-09           1  0.548814
1     2000-06-10           1  0.715189
2     2000-06-11           1  0.602763
3     2000-06-12           1  0.544883
4     2000-06-13           1  0.423655
...          ...         ...       ...
20180 2001-05-17          99  0.223520
20181 2001-05-18          99  0.446104
20182 2001-05-19          99  0.044783
20183 2001-05-20          99  0.483216
20184 2001-05-21          99  0.799660

[20185 rows x 3 columns]

And you have already merged these prices into your series dataframe.

In [ ]:
series_with_prices = dynamic_series.reset_index().merge(prices_catalog, how='left')
series_with_prices.set_index('unique_id', inplace=True)
series_with_prices

                  ds           y  static_0  product_id     price
unique_id
id_00     2000-10-05   39.811983        79          45  0.570826
id_00     2000-10-06  103.274013        79          45  0.260562
id_00     2000-10-07  176.574744        79          45  0.274048
id_00     2000-10-08  258.987900        79          45  0.433878
id_00     2000-10-09  344.940404        79          45  0.653738
...              ...         ...       ...         ...       ...
id_99     2001-05-10  453.400509        69          35  0.792152
id_99     2001-05-11   30.229478        69          35  0.782687
id_99     2001-05-12  101.313713        69          35  0.019463
id_99     2001-05-13  145.724335        69          35  0.190413
id_99     2001-05-14  228.163571        69          35  0.653394

[27003 rows x 5 columns]

This dataframe will be passed to `Forecast.fit` (or `Forecast.preprocess`), however since the price is dynamic we have to tell that method that only `static_0` and `product_id` are static and we'll have to update `price` in every timestep, which basically involves merging the updated features with the prices catalog.

In [ ]:
fcst.fit(series_with_prices, static_features=['static_0', 'product_id'])

Forecast(models=[LGBMRegressor, XGBRegressor], freq=<Day>, lag_features=['lag-7', 'expanding_mean_lag-1', 'rolling_mean_lag-7_window_size-14'], date_features=['dayofweek', 'month'], num_threads=2)

The features used for training are stored in `Forecast.ts.features_order_`, as you can see `price` was used for training.

In [ ]:
fcst.ts.features_order_

Index(['static_0', 'product_id', 'price', 'lag-7', 'expanding_mean_lag-1',
       'rolling_mean_lag-7_window_size-14', 'dayofweek', 'month'],
      dtype='object')

So in order to update the price in each timestep we just call `Forecast.predict` with our forecast horizon and pass the prices catalog as a dynamic dataframe.

In [ ]:
preds = fcst.predict(7, dynamic_dfs=[prices_catalog])
preds

                  ds  LGBMRegressor  XGBRegressor
unique_id
id_00     2001-05-15     425.271062    438.075714
id_00     2001-05-16     499.367199    499.328644
id_00     2001-05-17      19.680575     19.650190
id_00     2001-05-18     103.003798     98.412605
id_00     2001-05-19     186.687089    185.415588
...              ...            ...           ...
id_99     2001-05-17     441.140547    439.250183
id_99     2001-05-18      19.506097     19.749830
id_99     2001-05-19      91.141189     88.620872
id_99     2001-05-20     151.241891    154.825851
id_99     2001-05-21     228.440428    224.786606

[700 rows x 3 columns]

#### Custom predictions
As you may have noticed `Forecast.predict` can take a `predict_fn` and `predict_fn_kwargs`. By default the predict method repeats the static features and updates the transformations and the date features. If you have dynamic features you can pass them as a list to `Forecast.predict` in the `dynamic_dfs` argument. However, if you want to do something else, you can define your own function which will take:

* The trained model.
* The updated features (static + transformations + date features).
* A list of dataframes with the dynamic features.
* The order of the features the model was trained on.
* Additional keyword arguments passed to `Forecast.predict`.

Here's an example:

Suppose that we want to scale our predictions so that our series are updated with these scaled values. We can achieve that with the following.

In [ ]:
def scaling_predict_fn(
    model,
    new_x,
    dynamic_dfs,
    features_order,
    scale_factor,
) -> np.ndarray:
    new_x = new_x.drop(columns='ds')
    predictions = model.predict(new_x)
    return scale_factor * predictions

And now we just pass this function to `Forecast.predict`.

In [ ]:
fcst = Forecast(models, freq='D', lags=[7])
fcst.fit(series)

scale_factor = 1.1
preds = fcst.predict(2, predict_fn=scaling_predict_fn, scale_factor=scale_factor)
preds

                  ds  LGBMRegressor  XGBRegressor
unique_id
id_00     2001-05-15     462.984618    468.498840
id_00     2001-05-16     547.728357    550.042603
id_01     2001-05-15     128.083377    129.819885
id_01     2001-05-16     164.265438    165.137360
id_02     2001-05-15     163.398258    161.620834
...              ...            ...           ...
id_97     2001-05-16     388.652115    396.391449
id_98     2001-05-15      82.683279     84.208214
id_98     2001-05-16     104.768186    105.722870
id_99     2001-05-15     326.020978    321.117065
id_99     2001-05-16     408.528262    407.053772

[200 rows x 3 columns]

In [ ]:
#|hide
fcst.ts._predict_setup()

for attr in ('head', 'tail'):
    new_x = fcst.ts._update_features().drop(columns='ds')
    original_preds = fcst.models[0].predict(new_x)
    
    expected = scale_factor * original_preds
    actual = getattr(preds.groupby('unique_id')[models[0].__class__.__name__], attr)(1).values
    np.testing.assert_equal(expected, actual)
    
    fcst.ts._update_y(actual)

### Cross validation

If we would like to know how good our forecast will be for a specific model and set of features then we can perform cross validation. What cross validation does is take our data and split it in two parts, where the first part is used for training and the second one for validation. Since the data is time dependant we usually take the last *x* observations from our data as the validation set.

This process is implemented in `Forecast.cross_validation`, which takes our data and performs the process described above for `n_windows` times where each window is of size `window_size`. For example, if we have 100 samples and we want to perform 2 backtests each of size 14, the splits will be as follows:

1. Train: 1 to 72. Validation: 73 to 86.
2. Train: 1 to 86. Validation: 87 to 100.

In [ ]:
show_doc(Forecast.cross_validation)

---

### Forecast.cross_validation

>      Forecast.cross_validation (data, n_windows:int, window_size:int,
>                                 static_features:Optional[List[str]]=None,
>                                 dropna:bool=True,
>                                 keep_last_n:Optional[int]=None, dynamic_dfs:Op
>                                 tional[List[pandas.core.frame.DataFrame]]=None
>                                 , predict_fn:Optional[Callable]=None,
>                                 **predict_fn_kwargs)

Creates `n_windows` splits of `window_size` from `data`, trains the model
on the training set, predicts the window and merges the actuals and the predictions
in a dataframe.

Returns a dataframe containing the datestamps, actual values, train ends and predictions.

In [ ]:
n_windows = 2
window_size = 14

backtest_results = fcst.cross_validation(series, n_windows, window_size)
backtest_results.head()

                  ds           y     cutoff  LGBMRegressor  XGBRegressor
unique_id
id_00     2001-04-17  404.993322 2001-04-16     414.120640    414.053894
id_00     2001-04-18  508.883226 2001-04-16     494.788381    493.429382
id_00     2001-04-19    1.218119 2001-04-16      20.517266     20.233250
id_00     2001-04-20  109.879770 2001-04-16     100.175775     99.855011
id_00     2001-04-21  163.703847 2001-04-16     187.106175    185.735733

We can aggregate these by date to get a rough estimate of how our model is doing.

In [ ]:
agg_results = backtest_results.groupby('ds').mean()
agg_results.head()

                     y  LGBMRegressor  XGBRegressor
ds
2001-04-17  161.232312     162.087211    161.780182
2001-04-18  152.139197     151.313024    151.729568
2001-04-19  169.856989     171.306268    171.158646
2001-04-20  180.683402     180.324936    180.478058
2001-04-21  182.006090     180.941509    181.919373

We can include some more context by using the values in the training set.

In [ ]:
history = series[series.ds < agg_results.index.min()]
agg_history = history.groupby('ds')[['y']].mean().tail(50)
pd.concat([agg_history, agg_results])

                     y  LGBMRegressor  XGBRegressor
ds
2001-02-26  158.784827            NaN           NaN
2001-02-27  161.725567            NaN           NaN
2001-02-28  149.954633            NaN           NaN
2001-03-01  172.837458            NaN           NaN
2001-03-02  180.255834            NaN           NaN
...                ...            ...           ...
2001-05-10  171.394991     170.949471    170.755844
2001-05-11  180.413157     181.024538    180.700348
2001-05-12  181.652667     180.811871    180.771072
2001-05-13  168.138961     169.454204    168.783386
2001-05-14  157.971393     158.292926    158.698364

[78 rows x 3 columns]

We can also compute the error for each model.

In [ ]:
{model: np.round(mean_squared_error(backtest_results['y'], backtest_results[model]), 2)
 for model in backtest_results.columns.drop(['ds', 'y', 'cutoff'])}

{'LGBMRegressor': 91.72, 'XGBRegressor': 88.57}

In [ ]:
#|hide
fcst = Forecast(lgb.LGBMRegressor(), freq='D', lags=[7, 14])
backtest_results = fcst.cross_validation(series, n_windows, window_size)
manual_results = []
for cutoff, train, valid in backtest_splits(series, n_windows, window_size, fcst.freq):
    fcst.fit(train)
    pred = fcst.predict(window_size)
    res = valid[['ds', 'y']].copy()
    res['cutoff'] = cutoff
    manual_results.append(res.merge(pred, on=['unique_id', 'ds'], how='left'))
manual_results = pd.concat(manual_results)
pd.testing.assert_frame_equal(backtest_results, manual_results)